<h2>Welcome to
  <%= @sacco.name %>
  </h2>
<p><%= link_to "Edit", edit_sacco_path(@sacco) %>|
  <%= link_to "Delete", sacco_path(@sacco),
                           :data => {:confirm => "Are you sure you want to DELETE this sacco??",
                                     :method => "delete"} %>|
</p>
